absl-py==0.15.0
asgiref==3.6.0
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
blinker==1.5
boto3==1.26.62
botocore==1.29.62
brotlipy==0.7.0
bs4==0.0.1
cachelib==0.6.0
CacheMan==2.1.0
cachetools==4.2.4
clang==5.0
click==8.1.2
cmake==3.24.1.1
colorama==0.4.4
conda==22.11.1
conda-build==3.23.3
conda-verify==3.4.2
contourpy==1.0.7
cssselect==1.1.0
cssutils==2.3.0
cycler==0.11.0
cyhunspell==2.0.2
DateTime==4.3
distlib==0.3.6
Django==4.1.5
docopt==0.6.2
exceptiongroup==1.1.0
face-recognition-models==0.3.0
Flask==2.1.1
flask-abort==0.0.1
Flask-Jsonpify==1.5.0
Flask-Pure==0.5
flask-requests==0.0.14
Flask-Session==0.4.0
Flask-SSLify==0.1.5
flatbuffers==1.12
fonttools==4.38.0
gast==0.4.0
google-auth==2.3.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.43.0
gTTS==2.2.3
gunicorn==20.1.0
h5py==3.1.0
imutils==0.5.4
inflection==0.5.1
iniconfig==2.0.0
install==1.3.5
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.1
joblib==1.1.0
Js2Py==0.71
keras==2.6.0
Keras-Preprocessing==1.1.2
Kivy==2.0.0
kivy-deps.angle==0.3.2
kivy-deps.glew==0.3.1
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.4.4
libclang==12.0.0
Markdown==3.3.6
MarkupSafe==2.1.1
matplotlib==3.6.3
mediapipe==0.8.9.1
mlxtend==0.21.0
MouseInfo==0.1.3
mutagen==1.45.1
mypy-extensions==0.4.3
nltk==3.8.1
node==0.9.28
nodejs==0.1.1
numpy==1.22.3
oauthlib==3.2.2
odict==1.8.0
opencv-contrib-python==4.5.4.60
opencv-python==4.5.4.60
operators==1.0.1
opt-einsum==3.3.0
optional-django==0.1.0
pampy==0.3.0
pandas==1.4.2
pefile==2021.9.3
Pillow==9.4.0
pipwin==0.5.1
plumber==1.6
ply==3.11
premailer==3.10.0
protobuf==3.19.1
pyasn1-modules==0.2.8
PyAutoGUI==0.9.53
pycryptodome==3.17
pyenchant==3.2.2
pygame==2.1.0
PyGetWindow==0.0.9
pyglet==1.5.21
pyjsparser==2.7.1
pyls-spyder==0.4.0
PyMsgBox==1.0.9
pyparsing==3.0.9
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.3
PyQt5==5.15.7
PyQtWebEngine==5.15.4
PyRect==0.1.4
PyScreeze==0.1.28
pyshorteners==1.0.1
pySmartDL==1.3.4
pytest==7.2.1
python-lsp-jsonrpc==1.0.0
python-math==0.0.1
pyttsx3==2.90
pytube==11.0.2
pytweening==1.0.4
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pywhatkit==5.2
pywin32==305.1
PyYAML==6.0
regex==2022.10.31
requests-oauthlib==1.3.0
rsa==4.8
s3transfer==0.6.0
scikit-learn==1.0.2
scipy==1.8.0
secret==0.8
secure-smtplib==0.1.1
sklearn==0.0
SpeechRecognition==3.8.1
sqlparse==0.4.3
tabulate==0.9.0
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.23.1
termcolor==1.1.0
textblob==0.17.1
threadpoolctl==3.1.0
times==0.7
ttkthemes==3.2.2
turtle==0.0.1
tweepy==4.12.1
tzdata==2021.5
tzlocal==4.1
virtualenv==20.16.5
webencodings==0.5.1
Werkzeug==2.1.1
wikipedia==1.4.0
wincertstore==0.2
yagmail==0.15.277
zipp==3.8.0
zope.component==5.0.1
zope.deprecation==4.4.0
zope.hookable==5.1.0
zope.interface==5.5.2
zope.lifecycleevent==4.3
zstandard==0.18.0
